.formTitle {
    color: #fff;
    padding-bottom: 2rem;
}

.btn {
    width: 100px;
    height: 40px;
    margin-top: 2rem;
    border-radius: 5px;
    color: #23243B;
    font-weight: 600;
    cursor: pointer;
}

.form {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}